<%- include('../partials/head') %>
<div class="container"> <!-- start container -->
    <%- include('../partials/nav') %>
	<br><br><br><br>
    <div class="row">
		<div class="col-xs-12">
            <div class="col-xs-6">
                <a class="btn btn-primary" href="/">Home</a>
            </div> 
            <div class="col-xs-6">
                <a class="btn btn-info" href="/admin/product">Ver la lista de productos</a>
            </div> 

            <h3>Nuevo Producto </h3>
            <br>
            <form action="/admin/products/create" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" >
                </div>
                <div class="mb-3">
                    <label for="product_img" class="form-label">Imagen</label>
                    <input type="file" name="product_img">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" >
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" >
                </div>

                <div class="mb-3">
                    <label for="category_id" class="form-label">Categorias</label>
                    <br>
                    <select name="category_id" class="form-select mb-3">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>" ><%= category.name %></option>
                        <% }); %>
                    </select>
                </div>
                <br>

                <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div> 
	</div>	
</div> <!-- end container -->
<%- include('../partials/footer') %>