<%- include('../partials/head') %>
<div class="container"> <!-- start container -->
	<%- include('../partials/nav') %>
	<br><br><br><br>	

	<div class="row">
		<div class="col-xs-12">
            <div class="col-xs-6">
                <a class="btn btn-primary" href="/">Home</a>
            </div> 
            <div class="col-xs-6">
                <a class="btn btn-info" href="/admin/product">Ver la lista de productos</a>
            </div> 
            <h3>Producto : <%= product.name %> </h3>
            <br>
            
            <h4><b>Nombre : </b><%= product.name %></h4>
			<figure class="product-box_image">
				<img style="width:70px;height: 100px;" src="/img/products/<%= product.img %>" alt="imagen de producto">
			</figure>
            <h4><b>Precio : </b><%= product.price %></h4>
            <h4><b>Stock : </b><%= product.stock %></h4>
            <h4><b>Categoria : </b><%= product.category.name %></h4>
        </div> 
	</div>	

	





</div> <!-- end container -->
<%- include('../partials/footer') %>