<!DOCTYPE html>
<html> <!-- start html -->
<head> <!-- start head -->
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PRUEBA</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head> <!-- end head -->

<body> <!-- start body -->
<div class="container"> <!-- start container -->
	<div class="row">
		<div class="col-xs-2"> <!-- logo -->
		LOGO
		</div> 
		<div class="col-xs-10"> <!-- navegador -->
		NAVEGADOR
		</div>
	</div>	

	<div class="row">
		<div class="col-xs-12">
            <div class="col-xs-6">
                <a class="btn btn-primary" href="/">Home</a>
            </div> 
            <div class="col-xs-6">
                <a class="btn btn-info" href="/admin/product">Ver la lista de productos</a>
            </div> 
            <h3>Producto : <%= product.name %> </h3>
            <br>
            <form action="/admin/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
                </div>
                <div class="mb-3">
                    <label for="product_img" class="form-label">Imagen</label>
                    <input type="file" name="product_img">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>">
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" value="<%= product.stock %>">
                </div>

                <div class="mb-3">
                    <label for="category_id" class="form-label">Categorias</label>
                    <br>
                    <select name="category_id" class="form-select mb-3">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>" <% if (product.category.id == category.id) { %><%= 'selected' %><% }; %>><%= category.name %></option>
                        <% }); %>
                    </select>
                </div>
                <br>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div> 
	</div>	

	<div class="row">
		<div class="col-xs-4"> DIRECCION </div> 
		<div class="col-xs-4"> MAIL	</div>
		<div class="col-xs-4"> MENU	</div>
	</div>	





</div> <!-- end container -->


</body> <!-- end body -->
</html> <!-- end html -->