<%- include('../partials/head') %>
<div class="container"> <!-- start container -->
	<%- include('../partials/nav') %>
	<br><br><br><br>	

	<div class="row">
		<div class="col-xs-12">
            <div class="col-xs-6">
                <a class="btn btn-primary" href="/">Home</a>
            </div> 
            <div class="col-xs-6">
                <a class="btn btn-info" href="/admin/product">Ver la lista de productos</a>
            </div> 
            <h3>Producto : <%= product.name %> </h3>
            <br>
            <form action="/admin/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
                </div>
                <br>
                <div>
                    <label for="product_img" class="form-label">Imagen</label>
                    <img id="img1" src="/img/products/<%= product.img %>" alt="imagen de producto">
                </div>

                <div class="mb-3">
                    <input id="inputFile1" type="file" name="product_img">
                </div>
                <br>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>">
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" value="<%= product.stock %>">
                </div>

                <div class="mb-3">
                    <label for="category_id" class="form-label">Categorias</label>
                    <br>
                    <select name="category_id" class="form-select mb-3">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>" <% if (product.category.id == category.id) { %><%= 'selected' %><% }; %>><%= category.name %></option>
                        <% }); %>
                    </select>
                </div>
                <br>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div> 
	</div>	

</div> <!-- end container -->
<%- include('../partials/footer') %>